<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Tech Exercise Event Tracker</title>
	
	<script src="../static/js/jquery-3.3.1.js"></script>
	<script>
	$(function() {
		$('#btnEnterEvent').click(function() {
 
			$.ajax({
				url: '/',
				data: $('form').serialize(),
				type: 'POST',
				success: function(response) {
					console.log(response);
				},
				error: function(error) {
					console.log(error);
				}
			});
		});
	});
	</script>
	
    <link href="../static/index.css" rel="stylesheet">
</head>
 
<body>
	
	<div class="header">
            <h1>EventTracker</h1>
    </div>
        
 
	<div class="event_display">
		<h2>Recorded Events</h2>
		<br>
		<div class="event_display_box">
			{% for item in events %}
			<p>
			{{item[0]}} <br>
			{{item[1]}} <br>
			{{item[2]}} <br>
			{{item[3]}} <br>
			</p>
			{% endfor %}
		</div>
		<input type="button" value="Refresh List" onClick="window.location.reload()">
	</div>	
 
    <div class="event_entry">
        <h2>Event Entry</h2>
		<br>
		<form class="form_event_entry">
			<label for="inputEvent" class="EE_label">Event Name</label>
			<input type="text" name="inputEvent" class="form-input" placeholder="Event Name" required autofocus>
			<br>
			
			<label for="inputLoc" class="EE_label">Event Location</label>
			<input type="text" name="inputLoc" class="form-input" placeholder="Event Location" required autofocus>
			<br>
			
			<label for="inputDateTime" class="EE_label">Event Date/Time</label>
			<input type="datetime-local" name="inputDateTime" class="form-input" placeholder="Event Date/Time" required autofocus>
			<br>
			
			<label for="inputDesc" class="EE_label">Event Description</label>
			<input type="text" name="inputDesc" class="form-input" placeholder="Event Description" required autofocus>
			<br>
			
			<button id="btnEnterEvent" class="btn btn-lg btn-primary btn-block" type="button"></button>
		</form>
    </div>
 
</body>

</html>

